/* Сброс стилей (Normalize.css или другой) */

:root {
  --primary-color: #212121; /* Темно-серый */
  --secondary-color: #f2f2f2; /* Светло-серый */
  --accent-color: #303030; /* Темно-серый для контраста */
  --text-color: var(--secondary-color);
  --bg-color: var(--primary-color);
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--accent-color);
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--text-color);
  text-align: center;
}

/*  Стили  для  других  элементов  (p,  ul,  li,  и  т.д.)  */

/*  Медиа-запросы  для  мобильной  версии  */

@media (max-width: 768px) {
  /*  Стили  для  мобильных  устройств  */
}

/* ХЕДЕР */

header {
  /*  Стили  для  хедера  */
}

.logo {
  /*  Стили  для  логотипа  */
}

nav ul {
  /*  Стили  для  меню  */
}

.hamburger {
  /*  Стили  для  кнопки  "гамбургер"  */
}

/* HERO-блок */

#hero {
  /*  Стили  для  hero-блока  */
}

.parallax-bg {
  /*  Стили  для  фона  с  эффектом  параллакса  */
}

/* Обо мне */

#about {
  /*  Стили  для  блока  "Обо  мне"  */
}
